img.pinDownMagnet{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    box-shadow: 10px black;
    z-index: 100;
}

img.pinDownPin{
    position: absolute;
    z-index: 100;
}